<launch>  
   <group ns="firefly">
    <node name="waypoint_publisher" pkg="rotors_gazebo" type="waypoint_publisher" output="screen" args="10 5 3 3 0"/>
  </group>

   <group ns="firefly2">
    <node name="waypoint_publisher" pkg="rotors_gazebo" type="waypoint_publisher" output="screen" args="0 5 3 3 0"/>
  </group>

</launch>
